@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

.title{
    font-family: 'Passion One', cursive;
    font-weight: 600;
    font-size: 3.25rem;
    color: #a72693;
    text-align: center;
}

.about-me{
   position: relative;
   top: 50px;
   margin: 0 auto;
}

.about-text{
    line-height: 1.5;
    font-size: 20px;
    color: #eae7af;
}