@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');



.about-me{
   position: relative;
   top: 50px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-items: center;
   width: calc(100%-70px);
   overflow-y: scroll;
}

.about-text{
    line-height: 1.5;
    font-size: 20px;
    color: #eae7af;
    margin: 0 auto;
}

#pro{
    height: 120px;
    width: 120px;
    margin: 0 auto;
    padding: 2% 0;
    border-radius: 50%;
}

#mapid { 
       
    padding: 8%;
 }

