.contact-container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: auto;
}

.contact-section{
    display: flex;
    flex-direction: column;
    align-self: center;
    span{
        line-height: 1.5;
        color: #eae7af;
    }

    .icon-color{
        color: #a72693;
    }

    a{
        color: #a72693;
    }
    a:hover{
        color:#eae7af;
    }
}