$navBackground: #160f30;
$textColour: #a72693;
.navbar{
    background: $navBackground;
    color: $textColour !important;
    height: 100vh;
    width: 2.5%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-content: space-around;
}


.navbar>ul{
  list-style-type: none;
  a{
      text-decoration: none;
  }
  a:hover{
      color: #eae7af;
  }
  
}




.nav-top{
    
    
}
.nav-bottom{
   
}

.nav-item{
    padding: 2% 7%;
}

.nav-icon{
   color: $textColour;
}
.nav-icon :hover{
    color: #eae7af;
}