.portfolio-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: auto;
    position: relative; 
    top: 50px;
    p{
        margin: auto;
    }
    a{
        color: #a72693;
    }
    a:hover{
        color: #eae7af;
    }
}