@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
.home{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding: 5%;
}
.home-intro{
    font-family: 'Passion One', cursive;
    font-weight: 900;
    font-size: 4.25rem;
    color: #a72693;
   
    display: flex;
    align-items: center;
}




.home-cube{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 50vw;
    
}