@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*
*{
  padding: 0;
  margin: 0;
  
}
body{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  background-color: #282c34;
}



.container {
  
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  color: white;
  width: auto;
}

.title{
  font-family: 'Passion One', cursive;
  font-weight: 600;
  font-size: 3.25rem;
  color: #a72693;
  text-align: center;
}
*/

$bgColor:  #241663;
$textColor: #eae7af;
$navColor:  #160f30;
$specialColor: #a72693;
$font: 'Montserrat', sans-serif;

// body{
//     background: $bgColor;
//     color: $textColor;
//     font-family: $font;
//     font-size: 1.25rem;
// }
// *{
//     padding: 0;
//     margin: 0;
    
//   }
// .container{
//     display: flex;
//     width: 1000px;
//     height: 1000px;
// }

// .title{
//     text-align: center;
//     color: $specialColor;
    
// }

// .icon-color{
//     color: $specialColor;
// }
// /**NavBAR**/

// .navbar{

//     background: fixed $navColor;
//     display: flex;
//     flex-flow: column wrap;
//     justify-content: space-around;
//     align-items: flex-start;
//     padding: 2%;
//     ul{
//         list-style-type: none;
//     }
//     a{
//         text-decoration: none;
//         color: #a72693;
//     }

//   .nav-link .nav-icon-hover,
//   .nav-link:hover .nav-icon{
//       display: none;
//   }

//   .nav-link:hover .nav-icon-hover{
//       display: inline;
//       font-weight: 600;
//       color: $textColor;
//   }
// }

// /* Home Section */

// /*About me section*/
// .aboutme{
//    display: flex;
//    flex-flow: column wrap;
//    padding: 2%;
//    max-width: 100%;
  
//    .about-text{
//     text-align: justify;
//     margin: 0 auto;
//     width: 50%;
//    }
// }

// .skills{
//     display: flex;
//     flex-flow: column wrap;
//     width: 100%;
//     padding: 2%;
//     .skillslist{
//         display: flex;
//         justify-content: space-evenly;
//         width: auto;
//     }

//     ul{
//         list-style: none;
//         padding: 5%;
//     }
    
// }

// /* Portfolio section */

// .portfolio{
//     width: 100%;
//     padding: 2%;
//     a{
//         color: #a72693;
//     }
//     p{
//         text-align: center;
//         position: relative;
//         top: 45%;
//     }
// }


// /* contact section */

// .contact{
//     padding: 2%;
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     .contact-info{
//         display: flex;
//         flex-flow: column wrap;
//         width: 80%;
//         height: 80%;
//         justify-content: center;
//         align-items: center;
//         span{
//             padding: 1%;
//         }
//         margin: auto;
//     }
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container{
      
      width: 100%;
      padding: 1%;
      
  }

.title{
   text-align: center;
    color: $specialColor;
    
 }

body{
    background: $bgColor;
    color: $textColor;
    font-family: $font;
    //font-size: 1.25rem;
}

  #page-wrapper {
    position: relative;
    display: flex;
  }
  /*Map Container*/
  .leaflet-container {
    width: 300px;
    height: 300px;
    margin-bottom: 5%;
    margin: 0 auto;
  }

  /*Navbar*/

  .navbar{

    background: fixed $navColor;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2%;
    width: fit-content;
    min-height: 100vh;
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: #a72693;
    }

  .nav-link .nav-icon-hover,
  .nav-link:hover .nav-icon{
      display: none;
  }

  .nav-link:hover .nav-icon-hover{
      display: inline;
      font-weight: 600;
      color: $textColor;
  }
  
}

/* home */

.home{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    overflow: hidden;
    .intro{
        width: fit-content;
        margin: 0 auto;
        padding: 5% 0;
        color: $specialColor;
        font-weight: 900;
        font-size: 1.25rem;
        text-align: start;
        width: 100%;

    }
    .canvas{
        width: fit-content;
        
    }
}

/* about me */

.aboutme{
    display: flex;
    flex-flow: column wrap;
    width: fit-content;
    overflow: auto;
    .about-text{
        word-wrap: break-word;
        width: 100%;
        padding: 1%;
        padding-left: 10px;
    }
    #pro{
        border-radius: 50%;
        margin: 0 auto;
        padding: 3px;
    }
    #i-live{
        padding: 5px 0;
    }
}

/*skills*/

.skills{
    width: fit-content;
    padding: 1%;
    margin: 0 auto;
    ul{
        list-style-type: none;
    }
    .skillslist{
        padding: 5% 0;
    }
}

/*portfolio*/
.icon-color{
    color: $specialColor;
}
.portfolio{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    a{
        color: $specialColor;
    }
    
    
}

/*contact*/

.contact{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .contact-info{
        display: flex;
        flex-direction: column;
        
        span{
            padding: 2%;
        }
        a{
            text-decoration: none;
            color: $textColor;
        }
        
    }
}

@media (min-width: 1024px){
    

    .home{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: 100%;
        align-content: center;
        .intro{
            width: fit-content;
            margin: 0 auto;
            padding: 5% 0;
            color: $specialColor;
            font-weight: 900;
            font-size: 3.6rem;
            text-align: start;
            width: 50%;
    
        }
        .canvas{
            width: 50%;
            
        }
    }

    .aboutme{
        display: flex;
        flex-flow: column wrap;
        width: fit-content;
        overflow: auto;
        .about-text{
            word-wrap: break-word;
            width: 50%;
            padding: 1%;
            padding-left: 10px;
            margin: 0 auto;
        }
        #pro{
            border-radius: 50%;
            margin: 0 auto;
            padding: 3px;
        }
        #i-live{
            padding: 5px 0;
        }
    }

    .leaflet-container {
        width: 600px;
        height: 600px;
        margin-bottom: 5%;
        margin: 0 auto;
      }


    .skills{
        width: 100%;
        height: 100%;
        padding: 1%;
       
        ul{
            list-style-type: none;
        }
        .skillslist{
           // background-color: #eae7af;
    
            padding: 5% 0;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            height: 100%;
            font-size: 1.6rem;
        }
    }

    .contact{
        
        height: 100%;
        width: 100%;
       
        .contact-info{
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;
            span{
                padding: 0;
            }
            width: 100%;
            height: 100%;
        }
    }

    .navbar{

        background: fixed $navColor;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: flex-start;
        padding: 2%;
        width: fit-content;
        min-height: 100vh;
        ul{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: #a72693;
        }
    
      .nav-link .nav-icon-hover,
      .nav-link:hover .nav-icon{
          display: none;
      }
    
      .nav-link:hover .nav-icon-hover{
          display: inline;
          font-weight: 600;
          color: $textColor;
      }
      
    }

  }